\documentclass[11pt,a4paper,sans]{moderncv}
\moderncvstyle{banking}
\moderncvcolor{blue} % color options 'blue' (default), 'orange', 'green', 'red', 'purple', 'grey' and 'black'
%\nopagenumbers{} % uncomment to suppress automatic page numbering for CVs longer than one page

\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}

\name{}{}
%\title{Resumé title} % optional, remove / comment the line if not wanted
\address{Instituto Federal de Educação, Ciência e Tecnologia da Bahia}{Rua Emídio dos Santos, s/n. Sala A-304. Barbalho}{CEP: 40301-015 -- Salvador -- Bahia}
%\phone[mobile]{+1~(234)~567~890}                   % optional, remove / comment the line if not wanted
\phone[fixed]{(71)~2102-9489}                    % optional, remove / comment the line if not wanted
%\phone[fax]{+3~(456)~789~012}                      % optional, remove / comment the line if not wanted
\email{ads@ifba.edu.br}                               % optional, remove / comment the line if not wanted
\homepage{http://ads.ifba.edu.br}                         % optional, remove / comment the line if not wanted
\quote{\normalfont \textbf{PLANO DE ENSINO}}

\begin{document}
\begin{center}
\includegraphics[scale=0.35,]{novo-logo-ADS.eps}
\end{center}

\makecvtitle
\vspace{-0.5cm}
\section{Informações da Disciplina}
\cvdoubleitem{Nome}{{ '{' }}{{ plano.nome }}{{ '}' }}{Código}{{ '{' }}{{ plano.codigo }}{{ '}' }}
\cvdoubleitem{Carga Horária}{{ '{' }}{{ plano.carga_horaria }}h}{Semestre}{{ '{' }}{{ plano.semestre }}{% if semestre != "não definido" %}\textsuperscript{o}{% endif %}}
\cvitem{Professor(es)}{{ '{' }}{{ plano.professor }}{{ '}' }}

\section{Ementa}
{{ plano.ementa }}

\section{Objetivos}
\textbf{Gerais}\\
{{ plano.objetivos_gerais }}
~\\~\\
\textbf{Específicos}\\
{{ plano.objetivos_especificos }}

\section{Pré-Requisitos}
{% if pre_requisitos %}
\begin{itemize}
    {% for pre_requisito in pre_requisitos %}
    \item {{ pre_requisito.pre_requisito }}
    {% endfor %}
\end{itemize}
{% else %}
Nenhum
{% endif %}

\section{Conteúdo Programático}
\begin{itemize}
    {% set counter = [] %}
    {% for item_conteudo in plano.conteudo_programatico %}
        {% if item_conteudo|trim %}
            {% set item_number = item_conteudo.split(' ')|first %}
                {% set previous_number = plano.conteudo_programatico[loop.index0-1].split(' ')|first %}
            {% if not loop.first %}
                {% if item_number|occurrencesOf(".") > previous_number|occurrencesOf(".") %}
\begin{itemize}
{% if counter.append(1) %}{% endif %}
                {% endif %}
                {% if item_number|occurrencesOf(".") < previous_number|occurrencesOf(".") %}
\end{itemize}
{% if counter.pop() %}{% endif %}
                {% endif %}
            {% endif %}
\item {{ item_conteudo.split(' ')[1:]|join(" ") }}
        {% endif %}
    {% endfor %}
    {% for _ in range(0, counter|length)  %}
\end{itemize}
    {% endfor %}
\end{itemize}

\section{Método}
{{ plano.metodo }}

\section{Recursos}
{{ plano.recursos }}

\section{Avaliações}

\begin{cvcolumns}
   \cvcolumn{Tipo da Avaliação}{{ '{' }}{% for avaliacao in avaliacoes %}{{ avaliacao.tipo }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
   \cvcolumn[0.2]{Quantidade}{{ '{' }}{% for avaliacao in avaliacoes %}{{ avaliacao.qtde }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
   \cvcolumn[0.1]{Peso*}{{ '{' }}{% for avaliacao in avaliacoes %}{{ avaliacao.peso }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
\end{cvcolumns}
~\\
\textbf{*} A soma dos pesos deve ser igual a 10.

\section{Bibliografia}

\textbf{Básica}

{% for livro_basico in bibliografia_basica %}
\begin{cvcolumns}
	\cvcolumn[0.3]{{ '{' }}{% if loop.first %}Título{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_basico.titulo }}
	{{ '}' }}
	\cvcolumn[0.25]{{ '{' }}{% if loop.first %}Autor(es){% endif %}{{ '}' }}{{ '{' }}
		{{ livro_basico.autores }}
	{{ '}' }}
	\cvcolumn[0.15]{{ '{' }}{% if loop.first %}Veículo{% endif %}{{ '}' }}{{ '{' }}
		{% if livro_basico.veiculo %}{{ livro_basico.veiculo }}{% else %}~{% endif %}
	{{ '}' }}
	\cvcolumn[0.2]{{ '{' }}{% if loop.first %}Dados\\Adicionais{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_basico.dadosadicionais }}
	{{ '}' }}
	\cvcolumn{{ '{' }}{% if loop.first %}Ano{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_basico.ano }}
	{{ '}' }}
\end{cvcolumns}
{% endfor %}

~\\~\\
\textbf{Complementar}

{% for livro_complementar in bibliografia_complementar %}
\begin{cvcolumns}
	\cvcolumn[0.3]{{ '{' }}{% if loop.first %}Título{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_complementar.titulo }}
	{{ '}' }}
	\cvcolumn[0.25]{{ '{' }}{% if loop.first %}Autor(es){% endif %}{{ '}' }}{{ '{' }}
		{{ livro_complementar.autores }}
	{{ '}' }}
	\cvcolumn[0.15]{{ '{' }}{% if loop.first %}Veículo{% endif %}{{ '}' }}{{ '{' }}
		{% if livro_complementar.veiculo %}{{ livro_complementar.veiculo }}{% else %}~{% endif %}
	{{ '}' }}
	\cvcolumn[0.2]{{ '{' }}{% if loop.first %}Dados\\Adicionais{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_complementar.dadosadicionais }}
	{{ '}' }}
	\cvcolumn{{ '{' }}{% if loop.first %}Ano{% endif %}{{ '}' }}{{ '{' }}
		{{ livro_complementar.ano }}
	{{ '}' }}
\end{cvcolumns}
{% endfor %}

\vspace{\fill}
\section{Revisões}

\begin{cvcolumns}
	\cvcolumn[0.1]{Revisão}{{ '{' }}{% for revisao in revisoes %}{{ revisao.versao }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
	\cvcolumn[0.34]{Elaborado por}{{ '{' }}{% for revisao in revisoes %}{{ revisao.elaboradopor }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
	\cvcolumn[0.34]{Aprovado por}{{ '{' }}{% for revisao in revisoes %}{{ revisao.aprovadopor }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
	\cvcolumn{Data da Aprovação}{{ '{' }}{% for revisao in revisoes %}{{ revisao.dtaprovacao }}{% if not loop.last %}\\{% endif %}{% endfor %}{{ '}' }}
\end{cvcolumns}

\end{document}
