\documentclass[11pt,a4paper,sans]{moderncv}
\moderncvstyle{banking}
\moderncvcolor{blue} % color options 'blue' (default), 'orange', 'green', 'red', 'purple', 'grey' and 'black'
%\nopagenumbers{} % uncomment to suppress automatic page numbering for CVs longer than one page

\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}

\name{}{}
%\title{Resumé title} % optional, remove / comment the line if not wanted
\address{Instituto Federal de Educação, Ciência e Tecnologia da Bahia}{Rua Emí­dio dos Santos, s/n. Sala A-304. Barbalho. }{CEP: 40301-015 -- Salvador -- Bahia.}
%\phone[mobile]{+1~(234)~567~890}                   % optional, remove / comment the line if not wanted
\phone[fixed]{(71)~2102-9489}                    % optional, remove / comment the line if not wanted
%\phone[fax]{+3~(456)~789~012}                      % optional, remove / comment the line if not wanted
\email{ads@ifba.edu.br}                               % optional, remove / comment the line if not wanted
\homepage{http://ads.ifba.edu.br}                         % optional, remove / comment the line if not wanted
\quote{\normalfont \textbf{PLANO DE ENSINO}}

\begin{document}
\begin{center}
\includegraphics[scale=0.35,]{novo-logo-ADS.eps}
\end{center}

\makecvtitle
\vspace{-0.5cm}
\section{Informações da Disciplina}
\cvdoubleitem{Nome}{{ '{' }}{{ plano.nome }}{{ '}' }}{Código}{{ '{' }}{{ plano.codigo }}{{ '}' }}
\cvdoubleitem{Carga Horária}{{ '{' }}{{ plano.carga_horaria }}h}{Semestre}{{ '{' }}{{ plano.semestre }}{% if semestre != "não definido" %}\textsuperscript{o}{% endif %}}
\cvitem{Professor(es)}{{ '{' }}{{ plano.professor }}{{ '}' }}

\section{Ementa}
{{ plano.ementa }}

\section{Objetivos}
\textbf{Gerais}\\
{{ plano.objetivos_gerais }}
~\\~\\
\textbf{Específicos}\\
{{ plano.objetivos_especificos }}

\section{Pré-Requisitos}
{% if pre_requisitos %}
\begin{itemize}
    {% for pre_requisito in pre_requisitos %}
    \item {{ pre_requisito.pre_requisito }}
    {% endfor %}
\end{itemize}
{% else %}
Nenhum
{% endif %}

\section{Conteúdo Programático}
\begin{itemize}
\item Introdução
\begin{itemize}
\item O que é um padrão de projeto ?
\item Padrões de Projeto X Padrões Arquiteturais X Idiomas de Programação
\item Padrões e Princípios de Projeto Orientado a Objetos
\end{itemize}
\item Padrões Criacionais
\begin{itemize}
\item Abstract Factory
\item Builder
\item Factory Method
\item Prototype
\item Singleton
\end{itemize}
\item Padrões Estruturais
\begin{itemize}
\item Adapter
\item Bridge
\item Composite
\item Decorator
\item Facade
\item Flyweight
\item Proxy
\end{itemize}
\item Padrões Comportamentais
\begin{itemize}
\item Chain of Responsibility
\item Command
\item Interpreter
\item Iterator
\item Mediator
\item Memento
\item Observer
\item State
\item Strategy
\item Template Method
\item Visitor
\end{itemize}
\item Estudo de Caso
\end{itemize}

\section{Método}
Aulas expositivas, práticas em laboratório e estudos de caso.

\section{Recursos}
{{ plano.recursos }}

\section{Avaliações}

\begin{cvcolumns}
  \cvcolumn{Tipo da Avaliação}{Implementação/Análise de Implementação\\Prova escrita individual}
  \cvcolumn[0.2]{Quantidade}{16\\3}
  \cvcolumn[0.1]{Peso*}{3\\7}
\end{cvcolumns}
~\\
\textbf{*} A soma dos pesos deve ser igual a 10.

\section{Bibliografia}

\textbf{Básica}

\begin{cvcolumns}
	\cvcolumn[0.3]{Título}{
		Padrões de Projeto: Soluções Reutilizaveis de Software
	}
	\cvcolumn[0.25]{Autor(es)}{
		Erich Gamma e Richard Helm
	}
	\cvcolumn[0.15]{Veículo}{
		Bookman
	}
	\cvcolumn[0.2]{Dados\\Adicionais}{
		ISBN: 8573076100
	}
	\cvcolumn{Ano}{
		2000
	}
\end{cvcolumns}
\begin{cvcolumns}
	\cvcolumn[0.3]{}{
			Explicando Padrões de Projeto
	}
	\cvcolumn[0.25]{}{
			Shalloway, Alan e Trott, James R.
	}
	\cvcolumn[0.15]{}{
			Bookman
	}
	\cvcolumn[0.2]{}{
			ISBN: 8536304030
	}
	\cvcolumn{}{
			2004
	}
\end{cvcolumns}

~\\~\\
\textbf{Complementar}

\begin{cvcolumns}
	\cvcolumn[0.3]{Título}{
		Use a Cabeça! Padrões de Projetos (Design Patterns)
	}
	\cvcolumn[0.25]{Autor(es)}{
		Freeman, Elisabeth and Freeman, Eric
	}
	\cvcolumn[0.15]{Veículo}{
		Alta Books 
	}
	\cvcolumn[0.2]{Dados\\Adicionais}{
		ISBN: 9788576081746
	}
	\cvcolumn{Ano}{
		2007
	}
\end{cvcolumns}

\vspace{\fill}
\section{Revisões}

\begin{cvcolumns}
	\cvcolumn[0.1]{Revisão}{1}
	\cvcolumn[0.34]{Elaborado por}{Sandro Andrade}
	\cvcolumn[0.34]{Aprovado por}{Coordenação de ADS}
	\cvcolumn{Data da Aprovação}{02/09/2015}
\end{cvcolumns}

\end{document}
